<section class="account" *ngIf="user$ | async as user">
  <div class="account-block">
    <h2>{{'account.header.my_account' | transloco}}</h2>
    <mat-divider></mat-divider>
    <p>{{'account.created_at' | transloco}}<b> {{ user.createdAt | date }}</b>.</p>
  </div>
  <div class="account-block">
    <h2>{{'account.header.verify_email' | transloco}}</h2>
    <mat-divider></mat-divider>
    <p>{{emailStatus(user.emailVerified) | transloco}}</p>
    <button mat-stroked-button color="primary" [disabled]="user.emailVerified" (click)="sendEmailVerification()">
      {{'account.button.verify_email' | transloco}}
    </button>
  </div>
  <div class="account-block">
    <h2>{{'account.header.change_email_password' | transloco}}</h2>
    <mat-divider></mat-divider>
    <p>{{'account.subheader.change_email_password' | transloco}}</p>
    
      <button class="mr-5" mat-stroked-button color="primary" (click)="changeEmail()">
        {{'account.button.change_email' | transloco}}
      </button>
      <button mat-stroked-button color="primary" (click)="changePassword()">
        {{'account.button.change_password' | transloco}}
      </button>
  
  </div>
  <div class="account-block">
    <h2>{{'account.header.delete_account' | transloco}}</h2>
    <mat-divider></mat-divider>
    <p>{{'account.subheader.delete_account' | transloco}}</p>
    <button mat-stroked-button color="warn" (click)="deleteAccount()">
      {{'account.button.delete_account' | transloco}}
    </button>
  </div>
</section>