<section class="account" *ngIf="user$ | async as user">
  <div class="account-block">
    <h2>Account</h2>
    <mat-divider></mat-divider>
    <p>Your account has been created on <b>{{ user.createdAt | date }}</b>.</p>
  </div>
  <div class="account-block">
    <h2>Verify email</h2>
    <mat-divider></mat-divider>
    <p>Your email {{ user.emailVerified ? 'is already verified' : 'is not verified yet. Please proceed at your convenience' }}.</p>
    <button mat-stroked-button color="primary" [disabled]="user.emailVerified" (click)="sendEmailVerification()">
      Verify your email
    </button>
  </div>
  <div class="account-block">
    <h2>Change email / password</h2>
    <mat-divider></mat-divider>
    <p>This will change the credentials used for signin-in.</p>
    
      <button class="mr-5" mat-stroked-button color="primary" (click)="changeEmail()">
        Change your email
      </button>
      <button mat-stroked-button color="primary" (click)="changePassword()">
        Change your password
      </button>
  
  </div>
  <div class="account-block">
    <h2>Delete account</h2>
    <mat-divider></mat-divider>
    <p>By proceeding you'll permanently delete all your data.</p>
    <button mat-stroked-button color="warn" (click)="deleteAccount()">
      Delete your account
    </button>
  </div>
</section>