<section class="customers">
  <div class="orders__list">
    <mat-table [dataSource]="customers" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">{{
          element.id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Surname</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.surname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Phone number</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.phoneNumber }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="idNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ID number</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.idNumber }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Adress</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <address>
            {{ element.address.street }}<br />
            {{ element.address.city }}<br />
            {{ element.address.postcode }}<br />
            {{ element.address.province }}
          </address>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon color="warn" (click)="removeCustomer(element, $event)"
            >delete</mat-icon
          ></mat-cell
        >
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns; let element"
        [routerLink]="[flowRoutes.CUSTOMERS, element.id] | localize"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
</section>
