<section class="orders">
  <div class="orders__button">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="flowRoutes.ADD_ORDERS | localize"
    >
      <mat-icon>add</mat-icon>
      {{ 'orders.button.add_order' | transloco }}
    </button>
  </div>
  <div class="orders__list">
    <div class="table-filter" [formGroup]="filterGroup">
      <div class="active-filters">
        <ng-container *ngFor="let item of filterValues | keyvalue">
          <button
            mat-raised-button
            color="accent"
            (click)="clearFilter(item.key)"
            *ngIf="item.value"
          >
            {{ item.value }}
            <mat-icon color="warn">close</mat-icon>
          </button>
        </ng-container>
      </div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="default"
          placeholder="Filter"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          name="filteredColumn"
          id="filteredColumn"
          [value]="defaulFilteredColumn"
          (selectionChange)="changeFilteredColumn($event)"
        >
          <mat-option *ngFor="let c of filteredColumns" [value]="c.field">
            {{ c.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          name="filterByWorker"
          id="filterByWorker"
          formControlName="worker"
          placeholder="Filter by worker"
        >
          <mat-option
            *ngFor="let worker of workers$ | async"
            [value]="worker.displayName"
            >{{ worker.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          name="filterByStatus"
          id="filterByStatus"
          formControlName="status"
          placeholder="Filter by status"
        >
          <mat-option
            *ngFor="let status of statuses$ | async"
            [value]="status.label"
            >{{ status.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      {{ orders.data.length }} service orders
    </div>

    <mat-table [dataSource]="orders" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.id' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="customer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.customer' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element"
          >{{ element.customer?.name }}
          {{ element.customer?.surname }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="car_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.car' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element"
          >{{ element.car?.brand }} {{ element.car?.model }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="delivery_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.delivery_date' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.delivery_date | translocoDate
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.deadline' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.deadline | translocoDate
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.worker' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.user?.displayName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.status' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <mat-select
            name="status"
            id="status"
            [value]="element.status"
            (selectionChange)="updateOrder($event.value, element.id)"
          >
            <mat-option
              *ngFor="let status of statuses$ | async"
              [value]="status.label"
            >
              {{ status.label }}
            </mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.notes' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.notes }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="test_drive_agree">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          'orders.table.headers.test_drive' | transloco
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div
            class="test-drive-agree"
            [ngClass]="element.test_drive_agree ? 'agreement' : 'disagreement'"
          >
            <mat-icon>{{
              element.test_drive_agree ? 'check' : 'close'
            }}</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon color="warn" (click)="removeOrder(element, $event)"
            >delete</mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns; let element"
        [routerLink]="[flowRoutes.ORDERS, element.id] | localize"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
</section>
