<section class="orders">
    <div class="orders__button">
        <button mat-raised-button color="primary" [routerLink]='flowRoutes.ADD_ORDERS'>
            <mat-icon>add</mat-icon>
            {{ 'orders.button.add_order' | transloco }}
        </button>
    </div>
    <div class="orders__list">
        <!-- <div class="table-filter">
            <mat-form-field>
                <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div> -->
        
        <mat-table [dataSource]="orders" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.id' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ element.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.customer' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ getCustomerData(element?.customer_id) | async }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="car_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.car' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ getCarData(element.car_id) | async }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="delivery_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.delivery_date' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ element.delivery_date | date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="deadline">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.deadline' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ element.deadline | date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="user_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.worker' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ element.user?.displayName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.status' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;" (click)="$event.stopPropagation();">
                    <mat-select name="status" id="status" [value]="element.status" (selectionChange)="updateOrder($event.value, element.id)">
                        <mat-option *ngFor="let status of statuses$ | async" [value]="status.label">
                            {{ status.label }}
                        </mat-option>
                    </mat-select>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="notes">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.notes' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">{{ element.notes }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="test_drive_agree">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'orders.table.headers.test_drive' | transloco }}</mat-header-cell>
                <mat-cell *matCellDef="let element;">
                    <div class="test-drive-agree" [ngClass]="element.test_drive_agree ? 'agreement' : 'disagreement'">
                        <mat-icon>{{ element.test_drive_agree ? 'check' : 'close' }}</mat-icon>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let element" [routerLink]="[flowRoutes.ORDERS, element.id]"></mat-row>
        </mat-table>
        
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
</section>