<section class="orders">
  <div class="orders__button">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="flowRoutes.ADD_ORDERS | localize"
    >
      <mat-icon>add</mat-icon>
      {{ 'orders.button.add_order' | transloco }}
    </button>
  </div>
  <div class="orders__list">
    <app-car-service-table
    [tableData]="orders"
    [tableColumns]="displayedColumns"
    [filterConfig]="filterConfig"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="[5, 10, 15, 20]"
    [defaultPageSize]="10"
    (sort)="sortData($event)"
    (selectOption)="onSelect($event)"
  >
    <ng-template #tdAction let-id>
      <mat-icon class="cursor-pointer" color="warn" (click)="removeOrder($event, id)">delete</mat-icon>
      <mat-icon class="cursor-pointer" (click)="editOrder($event, id)">edit</mat-icon>
    </ng-template>
  </app-car-service-table>
  </div>
</section>
