.orders {
    &__list {
        margin-top: 70px;

        .mat-row {
            cursor: pointer;

            &:focus {
                outline: none;
            }

            .test-drive-agree {
                
                &.agreement {
                    .mat-icon {
                        color: green;
                    }
                }
        
                &.disagreement {
                    .mat-icon {
                        color: red;
                    }
                }
            }
        }

        .table-filter {
            .active-filters {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                
                button {
                    margin: 0 15px;
                    color: #FFF;

                    mat-icon {
                        margin-left: 10px;
                        position: relative;
                        top: -1px;
                    }
                }
            }

            mat-form-field {
                margin: 0 15px;
            }
        }
    }
}

.mat-column-status {
    flex: 0 0 120px;
}

.mat-column-notes {
    flex: 0 0 250px;
    padding: 10px 0 10px 20px;
}

.mat-column-test_drive_agree {
    flex: 0 0 100px;
    justify-content: center;     
    padding: 0;      
}