<mat-form-field>
    <mat-select class="lang" #langSelect [value]="currentLang" (selectionChange)="changeLang()" name="lang" id="lang">
        <mat-select-trigger>
            <img class="lang-flag" [src]='"../../../../assets/images/flags/" + currentLang + ".svg"' [alt]="currentLang">
        </mat-select-trigger>
        <mat-option *ngFor="let lang of langs" [value]="lang">
           <img class="lang-flag" [src]='"../../../../assets/images/flags/" + lang + ".svg"' [alt]="lang">
        </mat-option>
    </mat-select>
</mat-form-field>