<div class="change-email">
    <h2 mat-dialog-title>Change email</h2>
    <p>Please confirm by re-authenticating</p>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="changeEmail" (ngSubmit)="onSubmit()">
            <!-- <mat-form-field>
                <mat-label>{{'login.label.password' | transloco}}</mat-label>
                <input type="password" name="password" matInput formControlName="password">
                <app-error-message [control]="changeEmail.get('password')"></app-error-message>
            </mat-form-field> -->
            <mat-form-field>
                <mat-label>{{'login.label.email' | transloco}}</mat-label>
                <input type="email" name="email" formControlName="email" matInput>
                <app-error-message [control]="changeEmail.get('email')"></app-error-message>
            </mat-form-field>
            <button [disabled]="changeEmail.invalid" type="submit" mat-raised-button color="warn">Delete account</button>
        </form>
    </mat-dialog-content>
</div>