a {
    color: rgba(255,255,255,.5);
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    outline: none;
    display: flex;
    align-items: center;

    &:hover {
        color: rgba(255,255,255,.5);
    }
}

mat-list-item.active {

    a {
        color: #ef8157;

        @media (min-width: 768px) {
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                border-right: 17px solid #f4f3ef;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                right: 0;
                top: 7px;
            }
        }
    }

    mat-icon {
        color: #ef8157;
    }
}

.mat-icon-button {
    margin-right: 12px;
}

mat-icon {
    color: rgba(255,255,255,.5);
    font-size: 24px;

    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
}

.expand-more {
    margin-left: auto;
}