<mat-list-item [ngStyle]="{'padding-left': (25 * depth) + 'px' }" [ngClass]="{'expanded': expanded, 'active': item.route ? isLinkActive(item.route) : false}">
    <a href="#" (click)="onItemSelected($event, item)">
        <button mat-icon-button>
            <mat-icon>{{ item.iconName }}</mat-icon>
        </button>
        <span class="nav-caption">{{item.displayName | transloco}}</span>
        <span class="expand-more" *ngIf="item.children && item.children.length">
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
              expand_more
            </mat-icon>
          </span>
    </a>
</mat-list-item>
<div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1"></app-menu-list-item>
</div>