<app-schedule [data]="orders"></app-schedule>

<section *ngIf="orders" class="orders mt-5">
  <div class="orders__button">
    <!-- <button mat-raised-button color="primary" [routerLink]='flowRoutes.ADD_ORDERS'>
            <mat-icon>add</mat-icon>
            {{ 'orders.button.add_order' | transloco }}
        </button> -->
  </div>
  <div class="orders__list">
    <app-orders-amount [amount]="orders.length" [text]="'service orders for logged user'"></app-orders-amount>
    <app-car-service-table
      [tableData]="orders"
      [tableColumns]="displayedColumns"
      [isFilterable]="true"
      [filterConfig]="filterConfig"
      (deleteAction)="removeOrder($event)"
      [deleteActionIcon]="'delete'"
      (selectOption)="onSelect($event)"
      (sort)="sortData($event)"
      [isPageable]="true"
      [paginationSizes]="[5, 10, 15, 20]"
      [defaultPageSize]="5"
    >
      <ng-template #tdAction let-id>
        <mat-icon class="cursor-pointer" (click)="editOrder($event, id)">edit</mat-icon>
      </ng-template>
    </app-car-service-table>
  </div>
</section>
