<section class="forgot-password">
    <div class="forgot-password__container">
        <div class="forgot-password-form">
            <h2>Password assistance</h2>
            <hr>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Your Email *</mat-label>
                    <input type="email" name="email" formControlName="email" matInput>
                    <app-error-message [control]="forgotPasswordForm.get('email')"></app-error-message>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Recover password</button>
            </form>
        </div>
    </div>
</section>