<section class="signup">
    <div class="signup__container">
        <div class="signup-form">
            <h2>Sign up</h2>
            <hr>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Your Name</mat-label>
                    <input name="name" formControlName="name" matInput>
                    <app-error-message [control]="registrationForm.get('name')"></app-error-message>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your Email *</mat-label>
                    <input type="email" name="email" formControlName="email" matInput>
                    <app-error-message [control]="registrationForm.get('email')"></app-error-message>
                </mat-form-field>
                <mat-form-field
                    matTooltip="Password must contain at least 8 characters, one uppercase, lowercase, number and non aplhanumeric."
                    matTooltipClass="password-tooltip" matTooltipPosition="left">
                    <mat-label>Password *</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password" matInput>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="registrationForm.get('password')"></app-error-message>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Repeat your password *</mat-label>
                    <input [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword"
                        matInput>
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="registrationForm.get('confirmPassword')"></app-error-message>
                </mat-form-field>
                <div class="checkbox-container">
                    <mat-checkbox color="primary" formControlName="terms">I agree all statements in <a routerLink="/terms">Terms of service</a></mat-checkbox>
                    <app-error-message [control]="registrationForm.get('terms')"></app-error-message>
                </div>              
                <button type="submit" mat-raised-button color="primary">Register</button>
            </form>
        </div>
        <div class="signup-image">
            <div class="signup-image-content">
                <h2>Have an account?</h2>
                <a routerLink="/login" mat-stroked-button>Log in</a>
                <div class="signup-image-separator">or</div>
                <div class="social-buttons">
                    <button type="button" class="google-btn" (click)="signInWithGoogle()" mat-raised-button>Sign in with Google</button>
                </div>
            </div>
        </div>
    </div>
</section>