<section class="signup">
    <div class="signup__container">
        <div class="signup-form">
            <h2>{{'register.title' | transloco}}</h2>
            <hr>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>{{'register.label.name' | transloco}}</mat-label>
                    <input name="name" formControlName="name" matInput>
                    <app-error-message [control]="registrationForm.get('name')"></app-error-message>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'register.label.email' | transloco}}</mat-label>
                    <input type="email" name="email" formControlName="email" matInput>
                    <app-error-message [control]="registrationForm.get('email')"></app-error-message>
                </mat-form-field>
                <mat-form-field
                    matTooltip="{{'register.hint.password' | transloco}}"
                    matTooltipClass="password-tooltip" matTooltipPosition="left">
                    <mat-label>{{'register.label.password' | transloco}}</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password" matInput>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="registrationForm.get('password')"></app-error-message>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'register.label.repeat_password' | transloco}}</mat-label>
                    <input [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword"
                        matInput>
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="registrationForm.get('confirmPassword')"></app-error-message>
                </mat-form-field>
                <div class="checkbox-container">
                    <mat-checkbox color="primary" formControlName="terms">{{'register.label.terms' | transloco}} <a [routerLink]="flowRoutes.TERMS">{{'register.link.terms' | transloco}}</a></mat-checkbox>
                    <app-error-message [control]="registrationForm.get('terms')"></app-error-message>
                </div>              
                <button type="submit" mat-raised-button color="primary">{{'register.button.register' | transloco}}</button>
                <div *ngIf="isMobile" class="have-account">{{'register.have_account' | transloco}} <a [routerLink]="flowRoutes.LOGIN">{{'register.button.login' | transloco}}</a></div>
            </form>
        </div>
        <div *ngIf="!isMobile" class="signup-image">
            <div class="signup-image-content">
                <app-logo color="white"></app-logo>
                <h2>{{'register.have_account' | transloco}}</h2>
                <a [routerLink]="flowRoutes.LOGIN" mat-stroked-button>{{'register.button.login' | transloco}}</a>
            </div>
        </div>
    </div>
</section>