<section class="new-password">
    <div class="new-password__container">
        <div class="new-password-form">
            <h2>{{'forgot_password.title.new_password' | transloco}}</h2>
            <h3>{{'forgot_password.subtitle.new_password' | transloco}}</h3>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field
                    matTooltip="Password must contain at least 8 characters, one uppercase, lowercase, number and non aplhanumeric."
                    matTooltipClass="password-tooltip" matTooltipPosition="left">
                    <mat-label>{{'forgot_password.label.password' | transloco}}</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password" matInput>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="newPasswordForm.get('password')"></app-error-message>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'forgot_password.label.repeat_password' | transloco}}</mat-label>
                    <input [type]="hideConfirmPassword ? 'password' : 'text'" name="passwordConfirm" formControlName="passwordConfirm"
                        matInput>
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <app-error-message [control]="newPasswordForm.get('passwordConfirm')"></app-error-message>
                </mat-form-field>             
                <button type="submit" mat-raised-button color="primary">{{'forgot_password.button.reset' | transloco}}</button>
            </form>
        </div>
    </div>
</section>