<div class="change-password">
    <h2 mat-dialog-title>Change password</h2>
    <p>Please confirm by re-authenticating</p>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>{{'login.label.password' | transloco}}</mat-label>
                <input type="password" name="oldPassword" matInput formControlName="oldPassword">
                <app-error-message [control]="changePassword.get('oldPassword')"></app-error-message>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'login.label.password' | transloco}}</mat-label>
                <input type="password" name="newPassword" matInput formControlName="newPassword">
                <app-error-message [control]="changePassword.get('newPassword')"></app-error-message>
            </mat-form-field>
            <button [disabled]="changePassword.invalid" type="submit" mat-raised-button color="warn">Change password</button>
        </form>
    </mat-dialog-content>
</div>