<div class="change-password">
    <h2 mat-dialog-title>{{'account.change_password.header' | transloco}}</h2>
    <p>{{'account.change_password.subheader' | transloco}}</p>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>{{'login.label.password' | transloco}}</mat-label>
                <input type="password" name="oldPassword" matInput formControlName="oldPassword">
                <app-error-message [control]="changePassword.get('oldPassword')"></app-error-message>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'login.label.newPassword' | transloco}}</mat-label>
                <input type="password" name="newPassword" matInput formControlName="newPassword">
                <app-error-message [control]="changePassword.get('newPassword')"></app-error-message>
            </mat-form-field>
            <button [disabled]="changePassword.invalid" type="submit" mat-raised-button color="warn">{{'account.change_password.button.change_password' | transloco}}</button>
        </form>
    </mat-dialog-content>
</div>