<section class="statuses">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 statuses__form">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Add new status</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-status-form (triggerSubmit)="addStatus($event)"></app-status-form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-6 statuses__list">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Avaible statuses</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list" *ngFor="let status of statuses$ | async">
                            <mat-list-item role="listitem">
                                <span class="status-label">{{ status.label }}</span>
                                <mat-icon (click)="editStatus(status)">edit</mat-icon>
                                <mat-icon color="warn" (click)="removeStatus(status.id)">delete</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>