.statuses {

    // &__form {

    // }

    mat-card {
        min-height: 300px;
    }

    &__list {
        .status-label {
            width: 175px;
        }

        mat-icon {
            margin: 0 5px;
            cursor: pointer;
        }

        @media (max-width: 991px) {
            margin-top: 20px;
        }
    }
}