footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px;
    background: #f4f3ef;

    nav {

        ul {
            display: flex;

            li {
                margin-right: 15px;

                a {
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }
    }

    .copyright {
        color: #2C2C2C;
        font-weight: 100;

        @media (max-width: 768px) {
            padding-top: 20px;
        }
    }
}