<div class="logo">
    <img src="../../../../assets//images/logo.svg" alt="Car Service">
    <h1>Car Service</h1>
</div>
<div class="user" *ngIf="user | async as user">
    <div class="avatar" [style.background-image]="user.photoURL ? 'url(' + user.photoURL + ')' : 'url(../../../../assets/images/user-placeholder.jpg)'"></div>
    <div class="name">{{ user.displayName }}</div>
    <div class="email">{{ user.email }}</div>
</div>

<mat-nav-list>
    <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.DASHBOARD" (click)="onClose()">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <span class="nav-caption">Dashboard</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.PROFILE" (click)="onClose()">
            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button>
            <span class="nav-caption">Profile</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.ORDERS">
            <button mat-icon-button>
                <mat-icon>calendar_today</mat-icon>
            </button>
            <span class="nav-caption">Orders service</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.CARS" (click)="onClose()">
            <button mat-icon-button>
                <mat-icon>directions_cars</mat-icon>
            </button>
            <span class="nav-caption">Cars</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.CUSTOMERS" (click)="onClose()">
            <button mat-icon-button>
                <mat-icon>people</mat-icon>
            </button>
            <span class="nav-caption">Customers</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="flowRoutes.SETTINGS" (click)="onClose()">
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <span class="nav-caption">Settings</span>
        </a>
     </mat-list-item>
</mat-nav-list>