<div class="logo">
    <img src="../../../../assets//images/logo.svg" alt="Car Service">
    <h1>Car Service</h1>
</div>
<div class="user">
    <div class="avatar" style="background-image: url('../../../../assets/images/signup-panel.jpg')"></div>
    <div class="name">Maciej Jamer</div>
    <div class="email">maciek77jamer@gmail.com</div>
</div>

<mat-nav-list>
    <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/dashboard'">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <span class="nav-caption">Dashboard</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/profile'">
            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button>
            <span class="nav-caption">Profile</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/orders'">
            <button mat-icon-button>
                <mat-icon>calendar_today</mat-icon>
            </button>
            <span class="nav-caption">Orders service</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/cars'">
            <button mat-icon-button>
                <mat-icon>directions_cars</mat-icon>
            </button>
            <span class="nav-caption">Cars</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/customers'">
            <button mat-icon-button>
                <mat-icon>people</mat-icon>
            </button>
            <span class="nav-caption">Customers</span>
        </a>
     </mat-list-item>
     <mat-list-item routerLinkActive="active">
        <a [routerLink]="'/settings'">
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <span class="nav-caption">Settings</span>
        </a>
     </mat-list-item>
</mat-nav-list>