.add-new-customer {
    text-align: center;

    mat-dialog-content {
        margin-top: 30px;

        form {
            max-width: 500px;
            margin: 0 auto;

            mat-form-field {
                width: 100%;
            }
        }
    }
}