// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';

$custom-typography: mat.define-typography-config(
  $font-family: 'Ubuntu, sans-serif',
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$car-service-primary: mat.define-palette(mat.$pink-palette);
$car-service-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$car-service-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$car-service-theme: mat.define-light-theme(
  $car-service-primary,
  $car-service-accent,
  $car-service-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($car-service-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.mat-snack-bar-container {
  &.error {
    background: #bd2130;
    color: #fff;
  }

  &.success {
    background: #28a745;
    color: #fff;
  }

  .mat-simple-snackbar {
    justify-content: center;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #2c2c2c;

  &:hover {
    text-decoration: none;
    color: #2c2c2c;
  }
}

button:focus {
  outline: none;
}

.delete-account-dialog,
.change-email-dialog,
.change-password-dialog {
  max-width: 400px !important;
}

.mat-column-id {
  flex: 0 0 100px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.status {
  &.order_accepted {
    color: red;
  }
}

.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  color: #f44336;
}

.cursor-pointer {
  cursor: pointer;
}