<section class="add-order">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <mat-card class="customer-card">
      <mat-card-header>
        <mat-card-title>{{
          'orders.header.add_customer' | transloco
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="add-customer">
          <mat-select
            [value]="selectedCustomer | async"
            [compareWith]="compareCustomer"
            #customersSelect
            (selectionChange)="changeCustomer()"
            name="customers"
            id="customers"
            placeholder="{{ 'orders.placeholder.add_customer' | transloco }}"
          >
            <mat-option class="add-customer__label" (click)="addCustomer()">
              <mat-icon>add</mat-icon>
              <span>{{ 'orders.button.add_customer' | transloco }}</span>
            </mat-option>
            <mat-form-field class="search-customer">
              <input
                type="text"
                name="search"
                matInput
                #searchCustomerInput
                (keyup)="filterCustomers($event.target.value)"
                placeholder="{{
                  'orders.placeholder.search_customer' | transloco
                }} "
              />
            </mat-form-field>
            <mat-option
              *ngFor="let customer of filteredCustomers$ | async"
              [value]="customer"
            >
              {{ customer.name }} {{ customer.surname }}
            </mat-option>
          </mat-select>
          <app-error-message
            [control]="orderForm.get('customer')"
          ></app-error-message>
        </mat-form-field>
        <button
          [hidden]="!customersSelect.value"
          type="button"
          mat-raised-button
          color="primary"
          (click)="clearSelectCustomer()"
        >
          clear select
        </button>

        <app-add-customer-form
          *ngIf="customersSelect.value"
          [customer]="selectedCustomer | async"
        ></app-add-customer-form>
      </mat-card-content>
    </mat-card>

    <mat-card class="car-card">
      <mat-card-header>
        <mat-card-title>{{
          'orders.header.add_car' | transloco
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="add-car">
          <mat-select
            [value]="selectedCar | async"
            [compareWith]="compareCar"
            #carsSelect
            (selectionChange)="changeCar()"
            (closed)="closeCarSelect(searchCarInput)"
            name="cars"
            id="cars"
            placeholder="{{ 'orders.placeholder.add_car' | transloco }}"
          >
            <mat-option class="add-car__label" (click)="addCar()">
              <mat-icon>add</mat-icon>
              <span>{{ 'orders.button.add_car' | transloco }}</span>
            </mat-option>
            <mat-form-field class="search-car">
              <input
                type="text"
                name="search"
                matInput
                #searchCarInput
                (keyup)="filterCars($event.target.value)"
                placeholder="{{ 'orders.placeholder.search_car' | transloco }}"
              />
            </mat-form-field>
            <mat-option *ngFor="let car of filteredCars$ | async" [value]="car">
              {{ car.brand }} {{ car.model }} {{ car.year }} -
              {{ car.registration }}
            </mat-option>
          </mat-select>
          <app-error-message
            [control]="orderForm.get('car')"
          ></app-error-message>
        </mat-form-field>
        <button
          [hidden]="!carsSelect.value"
          type="button"
          mat-raised-button
          color="primary"
          (click)="clearSelectCar()"
        >
          clear select
        </button>

        <app-add-car-form
          *ngIf="carsSelect.value"
          [car]="selectedCar | async"
        ></app-add-car-form>
      </mat-card-content>
    </mat-card>

    <mat-card class="order-card">
      <div class="row">
        <div class="col col-6">
          <mat-form-field>
            <mat-label>{{
              'orders.label.delivery_date' | transloco
            }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [min]="todayDate"
              name="delivery_date"
              readonly
              (dateChange)="updateDeadline($event)"
              formControlName="delivery_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="add-user">
            <mat-label>{{ 'orders.label.worker' | transloco }}</mat-label>
            <mat-select
              #usersSelect
              name="users"
              id="users"
              formControlName="user"
            >
              <mat-option *ngFor="let user of users$ | async" [value]="user">
                {{ user.displayName }}
              </mat-option>
            </mat-select>
            <app-error-message
              [control]="orderForm.get('user')"
            ></app-error-message>
          </mat-form-field>
        </div>
        <div class="col col-6">
          <mat-form-field>
            <mat-label>{{ 'orders.label.deadline' | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [min]="minDeadline"
              name="deadline"
              formControlName="deadline"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'orders.label.status' | transloco }}</mat-label>
            <mat-select
              #statusSelect
              name="status"
              id="status"
              formControlName="status"
            >
              <mat-option
                *ngFor="let status of statuses$ | async"
                [value]="status?.label"
              >
                {{ status.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col col-12">
          <mat-form-field>
            <mat-label>{{ 'orders.label.notes' | transloco }}</mat-label>
            <textarea name="notes" matInput formControlName="notes"></textarea>
          </mat-form-field>
          <section class="checkbox-section">
            <mat-checkbox
              name="test_drive_agree"
              formControlName="test_drive_agree"
              >{{ 'orders.label.test_drive' | transloco }}</mat-checkbox
            >
          </section>
        </div>
      </div>
    </mat-card>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="btn-add-order"
    >
      {{ 'orders.button.add_order' | transloco }}
    </button>
  </form>
</section>
