<section class="customers">
  <div class="orders__list">
    <app-car-service-table
      [tableData]="cars"
      [tableColumns]="displayedColumns"

      (sort)="sortData($event)"

      [isPageable]="true"
      [paginationSizes]="[5, 10, 15, 20]"
      [defaultPageSize]="10"
    >
      <ng-template #tdAction let-id>
        <mat-icon class="cursor-pointer" color="warn" (click)="removeCar($event, id)">delete</mat-icon>
        <mat-icon class="cursor-pointer" (click)="editCar($event, id)">edit</mat-icon>
      </ng-template>
    </app-car-service-table>
  </div>
</section>
